<div class="row">
  <div class="col s12 m6">
    <div class="card medium sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/images/portfolio/imagen1.jpeg">
      </div>
      <div class="card-action">
        <span class="card-title activator grey-text text-darken-4">{{site.project_one}}<i class="material-icons right">more_vert</i></span>
        <p><a href="{{site.project_one_url}}" target="_blank">{{site.project_button}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <p>{{site.project_one_description}}</p>
        <a class="waves-effect grey darken-2 z-depth-4 waves-light btn" href="{% post_url 2018-07-12-requisitos-sagarpa %}" target="_blank"><i class="material-icons right">library_books</i>Requisitos</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card medium sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/images/portfolio/imagen2.jpg" style="height:240px;width:470px">
      </div>
      <div class="card-action">
        <span class="card-title activator grey-text text-darken-4">{{site.project_two}}<i class="material-icons right">more_vert</i></span>
        <p><a href="{{site.project_two_url}}" target="_blank">{{site.project_button}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <p>{{site.project_two_description}}</p>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card medium sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/images/portfolio/imagen3.jpeg" style="height:240px;width:440px;margin-left:auto;margin-right:auto">
      </div>
      <div class="card-action">
        <span class="card-title activator grey-text text-darken-4">{{site.project_three}}<i class="material-icons right">more_vert</i></span>
        <p><a href="{{site.project_three_url}}" target="_blank">{{site.project_button}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <p>{{site.project_three_description}}</p>
      </div>
    </div>
  </div>
    <div class="col s12 m6">
      <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/images/portfolio/imagen4.jpg" style="height:240px;width:440px;margin-left:auto;margin-right:auto">
        </div>
        <div class="card-action">
          <span class="card-title activator grey-text text-darken-4">{{site.project_four}}<i class="material-icons right">more_vert</i></span>
          <p><a href="{{site.project_four_url}}" target="_blank">{{site.project_button}}</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <p>{{site.project_four_description}}</p>
          <a class="waves-effect grey darken-2 z-depth-4 waves-light btn" href="https://www.gob.mx/sagarpa/acciones-y-programas/programas-sagarpa-2018-152846" target="_blank"><i class="material-icons right">open_in_browser</i>Convocatorias SAGARPA</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col s12 m6">
        <div class="card medium sticky-action">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/portfolio/imagen5.jpeg" style="height:250px;width:440px;margin-left:auto;margin-right:auto">
          </div>
          <div class="card-action">
            <span class="card-title activator grey-text text-darken-4">{{site.project_five}}<i class="material-icons right">more_vert</i></span>
            <p><a href="{{site.project_five_url}}" target="_blank">{{site.project_button}}</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <p>{{site.project_five_description}}</p>
            <!--   <a class="waves-effect grey darken-2 z-depth-4 waves-light btn" href="http://www.ee.ic.ac.uk/guo.liew15/yr2proj/default.htm" target="_blank"><i class="material-icons right">open_in_browser</i>Website</a>
            <a class="waves-effect green darken-2 z-depth-4 waves-light btn" href="../assets/videos/sortbot.mp4" target="_blank"><i class="material-icons right">videocam</i>App demo</a>-->
          </div>
        </div>
      </div>
